.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.c-app__touchable-card:hover {
  background-color: #cfcfcf;
  transform: scale(1.03);
  transition: ease-in-out, transform .25s ease-in-out;
}

.c-app__touchable-card:focus {
  border-color: #03fc24
}