.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.c-app__touchable-card {
  flex-basis: 30%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .c-app__touchable-card{
    flex-basis: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .c-app__touchable-card{
    flex-basis: 90%;
  }
}

.c-app__touchable-card:hover {
  background-color: #cfcfcf;
  transform: scale(1.03);
  transition: ease-in-out, transform .25s ease-in-out;
}

.c-app__touchable-card:focus {
  border-color: #03fc24;
}

.c-app__intro-container {
  flex-direction: column;
  width: 100vw;
}

.c-app__select-number-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 50px;
  padding-left: 50px;
}

.c-app__select-number-list--item {
  margin: 2px;
  width: 25px;
  padding: 5px;
}

.is-multiple {
  background-color: #03fc24;
}